<section class="login-form">
  <form fxLayout="column" fxLayoutAlign="center center" 
    fxLayoutGap
    [formGroup]="loginForm"
    (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input type="email" matInput placeholder="Your Email" formControlName="email">
      <mat-error>Please enter a valid email Id</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input type="password" matInput placeholder="Your Password" formControlName="password">
      <mat-hint>Should be atleast 6 characters long</mat-hint>
      <mat-error>Passwords cannot be blank</mat-error>
    </mat-form-field>
    <button type="submit" mat-raised-button color="primary" [disabled]="loginForm.invalid">Submit</button>
  </form>
</section>